<!-- layouts/partials/extend_head.html -->
{{ if .Site.Params.googleTagManager }}
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','{{ .Site.Params.googleTagManager }}');</script>
<!-- End Google Tag Manager -->

<!-- Initialize dataLayer -->
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}

// Set default consent state
gtag('consent', 'default', {
  'analytics_storage': 'denied'
});

// Cookie consent integration
window.addEventListener('load', function(){
    window.cookieconsent.initialise({
        "palette": {
            "popup": {
                "background": "#2b2b2b",
                "text": "#ffffff"
            },
            "button": {
                "background": "#0051c3",
                "text": "#ffffff"
            }
        },
        "type": "opt-in",
        "content": {
            "message": "This website uses cookies for analytics through Google Tag Manager.",
            "dismiss": "Decline",
            "allow": "Accept",
            "link": "Learn more",
            "href": "/privacy-policy"
        },
        onInitialise: function(status) {
            var type = this.options.type;
            var didConsent = this.hasConsented();
            if (didConsent) {
                gtag('consent', 'update', {
                    'analytics_storage': 'granted'
                });
            }
        },
        onStatusChange: function(status, chosenBefore) {
            var type = this.options.type;
            var didConsent = this.hasConsented();
            if (didConsent) {
                gtag('consent', 'update', {
                    'analytics_storage': 'granted'
                });
            }
        }
    })
});
</script>
{{ end }}